.recipeCard {
    box-shadow: 3px 3px rgb(187, 187, 187);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 225px;
    margin: 50px;
    align-items: center;
}

.recipeImg {
    max-width: 225px;
    max-height: 150px;
    box-shadow: 1px 1px gray;
}

.recipeName {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipeBtn {
    margin: 10px;
    background-color: rgb(87, 168, 168);
    color: white;
    font-size: 15px;
    border: 0px;
    height: 40px;
    width: 100px;
    margin-top: 35px;
}